/*Navbar*/

nav ul li:hover {
  background-color: white !important;
}

/*Top section*/

#intro-card {
  padding: 25px;
  margin-top: 45px;
  margin-bottom: 65px;
}

.left-marg {
  margin-left: 5px;
}

.pattern {
  background-image:
  url(images/pattern.png);
}

.fa:hover {
  color: #00b7af !important;
  transition: color .28s ease;
}

//Parallax section

.parallax-container {
  /* height: "your height here";*/
}

/*Colours and font weights*/

.myteal-text {
  color: #00b7af;
}

.myteal {
  background-color: #00b7af !important;
}

.light-teal-text{
  color: #9bd8d9;
}

.light-teal {
  background-color: #9bd8d9 !important;
}

.cream-text {
  color: #dadad2;
}

.cream {
  background-color: #dadad2;
}

.dark-text {
  color: #5c5d5f;
}

.dark {
  background-color: #5c5d5f;
}

.mygrey {
  background-color: #f9fafb;
}

.weight-200 {
  font-weight: 200 !important;
}

.weight-300 {
  font-weight: 300 !important;
}

/*Quick fixes*/

.align-adjust {
  line-height: 2 !important;
}

.collection-item:hover i {
  color: #00b7af;
  transition: color .28s ease;
}

.tabs .tab a:hover {
  color: #dadad2;
}

.tabs .tab a {
  color: #5c5d5f;
}

.tabs .indicator {
    background-color: #00b7af;
}

.card-font {
  font-size: 16px !important;
}

.image-fix {
  margin-top: 25px;
}

iframe, object, embed {
  max-width: 100%;
}

.side-nav {
  width: 150px;
}
